#box {

    width: 400px;
    border: 2px solid red;
    padding: 10px;
    font-size: $taillePolice;
    h1 {
        font-size: $taillePolice *3;
    }
    .b1 {
        @include boite(250px, grey)

    }

    .b2 {
        @media screen and (max-width: 900px) {
            display: none;
        }
        @include transform(rotate(30deg));
        @include boite(200px, yellow)
       
        
    }
    a {
        color: red;
        text-decoration: none;
        font-size: $taillePolice +10;
        &:hover {
            text-decoration: underline;
        }
    }
}